<!-- Sezione navbar -->
<nav class="navbar">
    <div class="container">
        <div class="col-6">
            <div class="row flex-row">
                <a routerLink="/home">
                    <h2 class="text-start">TheCocktailDB</h2>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="row flex-row">
                <div class="col-4 p-0">
                    <button type="button" class="btn btn-light navbar-component">
              HOME
            </button>
                </div>
                <div class="col-4 p-0">
                    <button type="button" class="btn btn-light navbar-component">
              API
            </button>
                </div>
                <div class="col-4 p-0">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                </div>
            </div>
        </div>
    </div>
    <hr />
</nav>